#navbar {
  display: flex;
  position: sticky;
  top: 0;
  background: #333;
  color: #fff;
  justify-content: space-between;
  z-index: 1;
  padding-top: 1rem;
  padding-bottom: 0.1rem;
}
#navbar .logo img{
  display: inline-block;
  width: 28px;
  margin-right: 1rem;
}
#navbar ul {
  display: flex;
  align-items: center;
  list-style: none;
}

#navbar ul li a {
  color: #fff;
  padding: 0.75rem;
  margin: 0 0.25rem;
}

#link:hover {
  background: #ec5034;
  border-radius: 5px;
}

#link:active{
  background: red;
}

#link{
  color: #fff;
  padding: 0.75rem;
  margin: 0 0.25rem;
  
}

#link{
  text-decoration: none;
}